<div class="container">
  <div id="article-title" class="d-flex align-items-end">
    <h1><%= @article.title %></h1>
    <%= link_to edit_article_path(@article) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
  <p><%= @article.content %></p>
</div>